
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap');

html, body {
  background-color:#051e4d;
  margin: 0;
  padding: 0;
  justify-content: center;
}
h1{
  font-size:35px;
  color:#ffa41c;
}

h2{
  font-size:15px;
  color:#ffa41c;
}
canvabodydisplay: block;

}

